:global(body.poker) {
	margin: 0;
	padding: 0 !important;
	background: $card-background-color;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	height: 100%;
	width: 100%;
}

:global(.view) {
    display: flex;
    margin-left: auto;
    background: $button-background-color;
    font-size: 14px;
    width: 80px;
    justify-content: center;
    text-align: center;
    padding: 8px;
    font-size: 14px;
}