%header {
  font-family: 'Montserrat', Arial, san-serif;
  font-size: 40px;
  justify-content: center;
  display: flex;
  margin: 0;
  outline: none;
  margin: 20px 0px;
}

%route-title {
  padding-left: 20px;
}