$default-font-color: #000;
$card-background-color: #AFF9E3;
$nav-background-color: #7C0A02;
$nav-font-color: #FFF;
$nav-font-color-hover: #FFFF66;
$input-box-background-color: #FFF;
$input-box-border-color: #000;
$button-background-color: #FFFF00;
$button-border-color: #000;
$button-font-color: #000;
$secondary-button-background-color: #7C0A02;
$secondary-button-border-color: #000;
$secondary-button-font-color: #FFF;